<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ANU MOTORS</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- 차트 링크 --> 
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 

    </head>
    <body id="page-top">
        
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top">ANU MOTORS</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">회사 소개</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#battery">배터리</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#motor">모터</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#frame">샤시/프레임</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Masthead--> 
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">

                <video width="1000" height="500" autoplay muted loop>
                    <source src="static/img/_ioniq5_.mp4" type="video/mp4">
                </video>

                <h1 class="masthead-heading text-uppercase mb-0"> 배터리와 모터에 혁신을 더하다.</h1>
                
            </div>
        </header>







        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-black">지난 5일간의 열정으로 최상의 서비스를 제공하겠습니다.</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                
                <div class="row">
                    <div class="col-lg-6 ms-auto"><p class="lead">ANU MOTORS는 전문 생산기업으로 출발해 미래 기술인 자동차의 전장화, 모듈화를 주도적으로 실현하면서, 앞선 기술과 품질로 최고의 자동차 부품회사로서 우뚝 섰습니다. 세계적인 자동차부품 그룹으로 ANU MOTORS가 될 수 있었던 원동력은 고객과 주주 여러분의 무한한 신뢰와 성원 덕분입니다. 앞으로도 고객을 최우선으로 여기는 고객밀착 경영을 통해 고객감동을 실천하겠습니다.</p></div>
                    <div class="col-lg-6 me-auto"><p class="lead"> 팀명 : 1조 <br>
                        구성원 : 임영재(팀장) , 진정학(부팀장), 박동(팀원), 이승민(팀원)
                    </p></div>
                </div>


                
            </div>
        </section>






        <!-- battery Section-->
        <section class="page-section bg-primary portfolio" id="battery">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">배터리</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- lithium -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#lithium">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../img/구리.jpg" alt="..." />
                        </div>
                    </div>
                    <!-- nickel -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#nickel">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../img/니켈.jpg" alt="..." />
                        </div>
                    </div>
                    <!-- cobalt -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#cobalt">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../img/코발트.jpg" alt="..." />
                        </div>
                    </div>
                    <!-- manganese -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#manganese">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../img/망간.jpg" alt="..." />
                        </div>
                    </div>
                    <!-- 뉴스_배터리 -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#news_bat">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../img/뉴스.jpg" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
    



        <!-- motoer Section-->
        <section class="page-section portfolio" id="motor">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">모터</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- heoto -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#heoto">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../img/희토류.jpg" alt="..." />
                        </div>
                    </div>
                    <!-- cobalt -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#cobalt">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../img/코발트.jpg" alt="..." />
                        </div>
                    </div>
                    <!-- 뉴스_모터 -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#news_mot">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../img/뉴스.jpg" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </section>        



        <!-- frame Section-->
        <section class="page-section bg-primary portfolio" id="frame">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">샤시 / 프레임</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- aluminium -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#aluminium">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../img/알루미늄.jpg" alt="..." />
                        </div>
                    </div>
                    <!-- magnesium -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#magnesium">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../img/마그네슘.jpg" alt="..." />
                        </div>
                    </div>
                    <!-- 뉴스_사시 -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#news_sas">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../img/뉴스.jpg" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- footer -->
        <div class="copyright py-4 text-center text-white">
            
                36729 경상북도 안동시 경동로 1375 (송천동) 국립안동대학교 <br> 
                TEL: 054.820.5114 / FAX: 054.820.7115 / E-MAIL: anu_motors@anu.ac.kr<br>
                Copyright &copy; 2022 ANU MOTORS
            
        </div>


        <!-- 광물 모델 -->

        <!-- lithium -->
        <div class="portfolio-modal modal fade" id="lithium" tabindex="-1" aria-labelledby="lithium" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">lithium</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <div class="container"> 
                                        <canvas id="myChart_lithium"></canvas> 
                                    </div> <!-- 부트스트랩 --> 
                                    <div class="div_float">
                                        <table class="table">
                                            <thead class="table-dark">
                                              <tr>
                                                <th scope="col">기준일</th>
                                                <th scope="col">가격</th>
                                                <th scope="col">전주대비등락가</th>
                                                <th scope="col">전주대비등락율</th>
                                              </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                <% for (var i=0; i<data.lithium.length; i++){%>
                                                    <tr>
                                                    <td><%= data.lithium[i].day%></td>
                                                    <td><%= data.lithium[i].price%></td>
                                                    <td><%= data.lithium[i].updown_price_pm + data.lithium[i].updown_price %></td>
                                                    <td><%= data.lithium[i].updown_rate_pm + data.lithium[i].updown_rate+"%" %></td>
                                                     </tr>
                                                <% }%>
                                            </tbody>
                                          </table>
                                        </div>
                                    <!-- Portfolio Modal - Text-->
                                  
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- nickel -->
        <div class="portfolio-modal modal fade" id="nickel" tabindex="-1" aria-labelledby="nickel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">nickel</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <div class="container"> 
                                        <canvas id="myChart_nickel"></canvas> 
                                    </div> <!-- 부트스트랩 --> 
                                    <div class="div_float">
                                        <table class="table">
                                            <thead class="table-dark">
                                              <tr>
                                                <th scope="col">기준일</th>
                                                <th scope="col">가격</th>
                                                <th scope="col">전주대비등락가</th>
                                                <th scope="col">전주대비등락율</th>
                                              </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                <% for (var i=0; i<data.nickel.length; i++){%>
                                                    <tr>
                                                    <td><%= data.nickel[i].day%></td>
                                                    <td><%= data.nickel[i].price%></td>
                                                    <td><%= data.nickel[i].updown_price_pm + data.nickel[i].updown_price %></td>
                                                    <td><%= data.nickel[i].updown_rate_pm + data.nickel[i].updown_rate+"%" %></td>
                                                     </tr>
                                                <% }%>
                                            </tbody>
                                          </table>
                                        </div>
                                    <!-- Portfolio Modal - Text-->
                                   
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- cobalt -->
        <div class="portfolio-modal modal fade" id="cobalt" tabindex="-1" aria-labelledby="cobalt" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">cobalt</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <div class="container"> 
                                        <canvas id="myChart_cobalt"></canvas> 
                                    </div> <!-- 부트스트랩 --> 
                                    <div class="div_float">
                                        <table class="table">
                                            <thead class="table-dark">
                                              <tr>
                                                <th scope="col">기준일</th>
                                                <th scope="col">가격</th>
                                                <th scope="col">전주대비등락가</th>
                                                <th scope="col">전주대비등락율</th>
                                              </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                <% for (var i=0; i<data.cobalt.length; i++){%>
                                                    <tr>
                                                    <td><%= data.cobalt[i].day%></td>
                                                    <td><%= data.cobalt[i].price%></td>
                                                    <td><%= data.cobalt[i].updown_price_pm + data.cobalt[i].updown_price %></td>
                                                    <td><%= data.cobalt[i].updown_rate_pm + data.cobalt[i].updown_rate+"%" %></td>
                                                     </tr>
                                                <% }%>
                                            </tbody>
                                          </table>
                                        </div>
                                    <!-- Portfolio Modal - Text-->
                                
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- manganese -->
        <div class="portfolio-modal modal fade" id="manganese" tabindex="-1" aria-labelledby="manganese" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">manganese</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <div class="container"> 
                                        <canvas id="myChart_manganese"></canvas> 
                                    </div> <!-- 부트스트랩 --> 
                                    <div class="div_float">
                                        <table class="table">
                                            <thead class="table-dark">
                                              <tr>
                                                <th scope="col">기준일</th>
                                                <th scope="col">가격</th>
                                                <th scope="col">전주대비등락가</th>
                                                <th scope="col">전주대비등락율</th>
                                              </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                <% for (var i=0; i<data.manganese.length; i++){%>
                                                    <tr>
                                                    <td><%= data.manganese[i].day%></td>
                                                    <td><%= data.manganese[i].price%></td>
                                                    <td><%= data.manganese[i].updown_price_pm + data.manganese[i].updown_price %></td>
                                                    <td><%= data.manganese[i].updown_rate_pm + data.manganese[i].updown_rate+"%" %></td>
                                                     </tr>
                                                <% }%>
                                            </tbody>
                                          </table>
                                        </div>
                                    <!-- Portfolio Modal - Text-->
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- heoto -->
        <div class="portfolio-modal modal fade" id="heoto" tabindex="-1" aria-labelledby="heoto" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">heoto</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <div class="container"> 
                                        <canvas id="myChart_heoto"></canvas> 
                                    </div> <!-- 부트스트랩 --> 
                                    <div class="div_float">
                                        <table class="table">
                                            <thead class="table-dark">
                                              <tr>
                                                <th scope="col">기준일</th>
                                                <th scope="col">가격</th>
                                                <th scope="col">전주대비등락가</th>
                                                <th scope="col">전주대비등락율</th>
                                              </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                <% for (var i=0; i<data.heoto.length; i++){%>
                                                    <tr>
                                                    <td><%= data.heoto[i].day%></td>
                                                    <td><%= data.heoto[i].price%></td>
                                                    <td><%= data.heoto[i].updown_price_pm + data.heoto[i].updown_price %></td>
                                                    <td><%= data.heoto[i].updown_rate_pm + data.heoto[i].updown_rate+"%" %></td>
                                                     </tr>
                                                <% }%>
                                            </tbody>
                                          </table>
                                        </div>
                                    <!-- Portfolio Modal - Text-->
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- aluminium-->
        <div class="portfolio-modal modal fade" id="aluminium" tabindex="-1" aria-labelledby="aluminium" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">aluminium</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <div class="container"> 
                                        <canvas id="myChart_aluminium"></canvas> 
                                    </div> <!-- 부트스트랩 --> 
                                    <div class="div_float">
                                        <table class="table">
                                            <thead class="table-dark">
                                              <tr>
                                                <th scope="col">기준일</th>
                                                <th scope="col">가격</th>
                                                <th scope="col">전주대비등락가</th>
                                                <th scope="col">전주대비등락율</th>
                                              </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                <% for (var i=0; i<data.aluminium.length; i++){%>
                                                    <tr>
                                                    <td><%= data.aluminium[i].day%></td>
                                                    <td><%= data.aluminium[i].price%></td>
                                                    <td><%= data.aluminium[i].updown_price_pm+data.aluminium[i].updown_price %></td>
                                                    <td><%= data.aluminium[i].updown_rate_pm+data.aluminium[i].updown_rate+"%" %></td>
                                                     </tr>
                                                <% }%>
                                            </tbody>
                                          </table>
                                        </div>
                                    
                                    <!-- Portfolio Modal - Text-->
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- magnesium -->
        <div class="portfolio-modal modal fade" id="magnesium" tabindex="-1" aria-labelledby="magnesium" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">magnesium</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <div class="container"> 
                                        <canvas id="myChart_magnesium"></canvas> 
                                    </div> <!-- 부트스트랩 --> 
                                    <div class="div_float">
                                        <table class="table">
                                            <thead class="table-dark">
                                              <tr>
                                                <th scope="col">기준일</th>
                                                <th scope="col">가격</th>
                                                <th scope="col">전주대비등락가</th>
                                                <th scope="col">전주대비등락율</th>
                                              </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                <% for (var i=0; i<data.magnesium.length; i++){%>
                                                    <tr>
                                                    <td><%= data.magnesium[i].day%></td>
                                                    <td><%= data.magnesium[i].price%></td>
                                                    <td><%= data.magnesium[i].updown_price_pm + data.magnesium[i].updown_price %></td>
                                                    <td><%= data.magnesium[i].updown_rate_pm + data.magnesium[i].updown_rate+"%" %></td>
                                                     </tr>
                                                <% }%>
                                            </tbody>
                                          </table>
                                        </div>
                                    <!-- Portfolio Modal - Text-->
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 뉴스_bat -->
        <div class="portfolio-modal modal fade" id="news_bat" tabindex="-1" aria-labelledby="news_bat" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">news</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <div class="div_float"></div>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">뉴스</th>
                                                <th scope="col">내용</th>
                                                <th scope="col">신문사</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                <% for (var i=0; i<data.news_bat.length; i++){%>
                                                    <tr>
                                                    <td><A href=<%=data.news_bat[i].src%>><%= data.news_bat[i].name%></A></td>
                                                    <td><%= data.news_bat[i].contents%></td>
                                                    <td><%= data.news_bat[i].day %></td>
                                                    </tr>
                                                <% }%>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- Portfolio Modal - Text-->
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- 뉴스_모터 -->
        <div class="portfolio-modal modal fade" id="news_mot" tabindex="-1" aria-labelledby="news_mot" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">news</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <div class="div_float"></div>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">뉴스</th>
                                                <th scope="col">내용</th>
                                                <th scope="col">신문사</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                <% for (var i=0; i<data.news_mot.length; i++){%>
                                                    <tr>
                                                    <td><A href=<%=data.news_mot[i].src%>><%= data.news_mot[i].name%></A></td>
                                                    <td><%= data.news_mot[i].contents%></td>
                                                    <td><%= data.news_mot[i].day %></td>
                                                    </tr>
                                                <% }%>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- Portfolio Modal - Text-->
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 뉴스_사시 -->
        <div class="portfolio-modal modal fade" id="news_sas" tabindex="-1" aria-labelledby="news_sas" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">news</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <div class="div_float"></div>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">뉴스</th>
                                                <th scope="col">내용</th>
                                                <th scope="col">신문사</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                <% for (var i=0; i<data.news_sas.length; i++){%>
                                                    <tr>
                                                    <td><A href=<%=data.news_sas[i].src%>><%= data.news_sas[i].name%></A></td>
                                                    <td><%= data.news_sas[i].contents%></td>
                                                    <td><%= data.news_sas[i].day %></td>
                                                    </tr>
                                                <% }%>
                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- Portfolio Modal - Text-->
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> 
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> <!-- 차트 --> 
        
        
        <script> 
            // chart colors 
            const colors = ['red','orange','yellow','green','blue','purple','pink','black']; // const datas = [589, 445, ...] 선언하고 아래서 datas 변수만 써줘도 된다. 
           
             
            
            
            var data = <%- JSON.stringify(data) %>
            
            var lithium = data.lithium
            var nickel = data.nickel
            var cobalt= data.cobalt
            var manganese = data.manganese
            var heoto = data.heoto
            var aluminium = data.aluminium
            var magnesium = data.magnesium



            var data_day=new Array();
            var data_price=new Array();
            

            


            //리튬 차트
            var data_day=new Array();
            var data_price=new Array();
            for(var i=0; i<lithium.length;i++){
                data_day[i]=lithium[i].day;
                data_price[i]=lithium[i].price;
            }
            
            var ctx_lithium = document.getElementById('myChart_lithium');
            var chartData = { labels: data_day, 
            datasets: [{ 
                label: '리튬',
                data: data_price, 
                backgroundColor: 'transparent', 
                borderColor: colors[0], 
                borderWidth: 3, 
            }] 
            }; 
            var myChart = new Chart(ctx_lithium, { // 챠트 종류를 선택 
                type: 'line', // 챠트를 그릴 데이타 
                data: chartData, // 옵션 
                options: { legend: { display: true }
                , title: { display : true, text: '리튬 가격' } } });


            //니켈 차트 nickel
            var data_day=new Array();
            var data_price=new Array();

            for(var i=0; i<nickel.length;i++){
                data_day[i]=nickel[i].day;
                data_price[i]=nickel[i].price;
            }
            
            var ctx_nickel = document.getElementById('myChart_nickel');
            var chartData = { labels: data_day, 
            datasets: [{ 
                label: '니켈',
                data: data_price, 
                backgroundColor: 'transparent', 
                borderColor: colors[0], 
                borderWidth: 3, 
            }] 
            }; 
            var myChart = new Chart(ctx_nickel, { // 챠트 종류를 선택 
                type: 'line', // 챠트를 그릴 데이타 
                data: chartData, // 옵션 
                options: { legend: { display: true }
                , title: { display : true, text: '니켈 가격' } } });



            //코발트 차트 cobalt
            var data_day=new Array();
            var data_price=new Array();
            for(var i=0; i<cobalt.length;i++){
                data_day[i]=cobalt[i].day;
                data_price[i]=cobalt[i].price;
            }
            
            var ctx_cobalt = document.getElementById('myChart_cobalt');
            var chartData = { labels: data_day, 
            datasets: [{ 
                label: '코발트',
                data: data_price, 
                backgroundColor: 'transparent', 
                borderColor: colors[0], 
                borderWidth: 3, 
            }] 
            }; 
            var myChart = new Chart(ctx_cobalt, { // 챠트 종류를 선택 
                type: 'line', // 챠트를 그릴 데이타 
                data: chartData, // 옵션 
                options: { legend: { display: true }
                , title: { display : true, text: '코발트 가격' } } });

            //망간 차트 manganese
            var data_day=new Array();
            var data_price=new Array();
            for(var i=0; i<manganese.length;i++){
                data_day[i]=manganese[i].day;
                data_price[i]=manganese[i].price;
            }
            
            var ctx_manganese = document.getElementById('myChart_manganese');
            var chartData = { labels: data_day, 
            datasets: [{ 
                label: '망간',
                data: data_price, 
                backgroundColor: 'transparent', 
                borderColor: colors[0], 
                borderWidth: 3, 
            }] 
            }; 
            var myChart = new Chart(ctx_manganese, { // 챠트 종류를 선택 
                type: 'line', // 챠트를 그릴 데이타 
                data: chartData, // 옵션 
                options: { legend: { display: true }
                , title: { display : true, text: '망간 가격' } } });

        
            //희토류 차트 heoto
            var data_day=new Array();
            var data_price=new Array();
            for(var i=0; i<heoto.length;i++){
                data_day[i]=heoto[i].day;
                data_price[i]=heoto[i].price;
            }
            
            var ctx_heoto = document.getElementById('myChart_heoto');
            var chartData = { labels: data_day, 
            datasets: [{ 
                label: '희토류',
                data: data_price, 
                backgroundColor: 'transparent', 
                borderColor: colors[0], 
                borderWidth: 3, 
            }] 
            }; 
            var myChart = new Chart(ctx_heoto, { // 챠트 종류를 선택 
                type: 'line', // 챠트를 그릴 데이타 
                data: chartData, // 옵션 
                options: { legend: { display: true }
                , title: { display : true, text: '희토류 가격' } } });


            //알루미늄 차트
            var data_day=new Array();
            var data_price=new Array();
            for(var i=0; i<aluminium.length;i++){
                data_day[i]=aluminium[i].day;
                data_price[i]=aluminium[i].price;
            }
            
            var ctx_aluminium = document.getElementById('myChart_aluminium');
            var chartData = { labels: data_day, 
            datasets: [{ 
                label: '알루미늄',
                data: data_price, 
                backgroundColor: 'transparent', 
                borderColor: colors[0], 
                borderWidth: 3, 
            }] 
            }; 
            var myChart = new Chart(ctx_aluminium, { // 챠트 종류를 선택 
                type: 'line', // 챠트를 그릴 데이타 
                data: chartData, // 옵션 
                options: { legend: { display: true }
                , title: { display : true, text: '알루미늄 가격' } } });


            
            //마그네슘
            var data_day=new Array();
            var data_price=new Array();
            for(var i=0; i<magnesium.length;i++){
                data_day[i]=magnesium[i].day;
                data_price[i]=magnesium[i].price;
            }
            
            var ctx_magnesium = document.getElementById('myChart_magnesium');
            var chartData = { labels: data_day, 
            datasets: [{ 
                label: '마그네슘',
                data: data_price, 
                backgroundColor: 'transparent', 
                borderColor: colors[0], 
                borderWidth: 3, 
            }] 
            }; 
            var myChart = new Chart(ctx_magnesium, { // 챠트 종류를 선택 
                type: 'line', // 챠트를 그릴 데이타 
                data: chartData, // 옵션 
                options: { legend: { display: true }
                , title: { display : true, text: '마그네슘 가격' } } });
            </script> 



        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>